
.contents

  = render partial: 'shared/header'
  .nav
    %ul
      %li
        メルカリ 
        = fa_icon 'chevron-right'
      %li.bold
        マイページ
        = fa_icon 'chevron-right'
      %li.bold
        ログアウト

  .main.clearfix
    
    = render partial: 'mypage/shared/side_column'

    .content
      .logout
        = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'logout__destroy'

  = render partial: 'shared/footer'