
.contents

  = render partial: 'shared/header'
  .nav
    %ul
      %li.breadcrumbs
        - breadcrumb :mypage
        - breadcrumb :logout
        = breadcrumbs separator: " &rsaquo; "

  .main.clearfix
    
    = render partial: 'mypage/shared/side_column'

    .content
      .logout
        = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'logout__destroy'

  = render partial: 'shared/footer'