.side
  .mypage-nav

    .mypage-nav-list
      %ul
        %li
          .list-item.active
            マイページ
            = fa_icon 'chevron-right', class: 'right-icon'
        %li
          .list-item
            お知らせ
            = fa_icon 'chevron-right', class: 'right-icon'
        %li
          .list-item
            やることリスト
            = fa_icon 'chevron-right', class: 'right-icon'
        %li
          .list-item
            いいね！一覧
            = fa_icon 'chevron-right', class: 'right-icon'
        %li
          .list-item
            出品する
            = fa_icon 'chevron-right', class: 'right-icon'
        %li
          .list-item
            出品した商品-出品中
            = fa_icon 'chevron-right', class: 'right-icon'
        %li
          .list-item
            出品した商品-取引中
            = fa_icon 'chevron-right', class: 'right-icon'
        %li
          .list-item
            出品した商品-売却済み
            = fa_icon 'chevron-right', class: 'right-icon'
    
    %h3.nav-head
      メルペイ

    .mypage-nav-list
      %ul
        %li
          .list-item
            残高・振込申請
            = fa_icon 'chevron-right', class: 'right-icon'
        %li
          .list-item
            ポイント
            = fa_icon 'chevron-right', class: 'right-icon'

      %h3.nav-head
        設定

      .mypage-nav-list
      %ul
        %li
          .list-item
            プロフィール
            = fa_icon 'chevron-right', class: 'right-icon'
        %li
          .list-item
            発送元・お届け先住所変更
            = fa_icon 'chevron-right', class: 'right-icon'
        %li
          .list-item
            支払い方法
            = fa_icon 'chevron-right', class: 'right-icon'
        %li
          .list-item
            メール/パスワード
            = fa_icon 'chevron-right', class: 'right-icon'
        %li
          .list-item
            本人情報
            = fa_icon 'chevron-right', class: 'right-icon'
        %li
          .list-item
            電話番号の確認
            = fa_icon 'chevron-right', class: 'right-icon'
        %li
          .list-item
            = fa_icon 'chevron-right', class: 'right-icon'