
.contents

  .header
    .header-inner
      .header-inner__up
        .inner-image
          = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2749976048', alt: 'mercari', height: '36', width: '134'
        .inner-form
          何かお探しですか？
          = fa_icon 'search'
      .header-inner__down
        .down-left
          %ul
            %li
              = fa_icon 'list'
              カテゴリーから探す
            %li
              = fa_icon 'tag'
              ブランドから探す
        .down-right
          %ul
            %li.like
              = fa_icon 'heart'
              いいね！一覧
            %li
              = fa_icon 'bell'
              お知らせ
            %li
              = fa_icon 'check'
              やることリスト
            %li
              マイページ

  .nav
    %ul
      %li
        メルカリ 
        = fa_icon 'chevron-right'
      %li.bold
        マイページ

  .main
    .side
      .mypage-nav

        .mypage-nav-list
          %ul
            %li
              .list-item.active
                マイページ
                = fa_icon 'chevron-right'
            %li
              .list-item
                お知らせ
                = fa_icon 'chevron-right'
            %li
              .list-item
                やることリスト
                = fa_icon 'chevron-right'
            %li
              .list-item
                いいね！一覧
                = fa_icon 'chevron-right'
            %li
              .list-item
                出品する
                = fa_icon 'chevron-right'
            %li
              .list-item
                出品した商品-出品中
                = fa_icon 'chevron-right'
            %li
              .list-item
                出品した商品-取引中
                = fa_icon 'chevron-right'
            %li
              .list-item
                出品した商品-売却済み
                = fa_icon 'chevron-right'
        
        %h3.nav-head
          メルペイ

        .mypage-nav-list
          %ul
            %li
              .list-item
                残高・振込申請
                = fa_icon 'chevron-right'
            %li
              .list-item
                ポイント
                = fa_icon 'chevron-right'

          %h3.nav-head
            設定

          .mypage-nav-list
          %ul
            %li
              .list-item
                プロフィール
                = fa_icon 'chevron-right'
            %li
              .list-item
                発送元・お届け先住所変更
                = fa_icon 'chevron-right'
            %li
              .list-item
                支払い方法
                = fa_icon 'chevron-right'
            %li
              .list-item
                メール/パスワード
                = fa_icon 'chevron-right'
            %li
              .list-item
                本人情報
                = fa_icon 'chevron-right'
            %li
              .list-item
                電話番号の確認
                = fa_icon 'chevron-right'
            %li
              .list-item
                ログアウト
                = fa_icon 'chevron-right'


    .content