%header
  .header-inner
    .header-inner__up
      .inner-image
        = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2749976048', alt: 'mercari', height: '36', width: '134'
      .inner-form
        何かお探しですか？
        = fa_icon 'search'
    .header-inner__down
      .down-left
        %ul
          %li
            = fa_icon 'list-ul', class: 'red-icon'
            カテゴリーから探す
          %li
            = fa_icon 'tag', class: 'red-icon'
            ブランドから探す
      .down-right
        %ul
          %li.like
            = fa_icon 'heart'
            いいね！一覧
          %li
            = fa_icon 'bell'
            お知らせ
          %li
            = fa_icon 'check'
            やることリスト
          %li.last
            .menu-link
              %figure
                = image_tag 'https://cdn.pixabay.com/photo/2016/07/23/13/21/pokemon-1536855_1280.png', height: '32', width: '32'
              %span
                マイページ