
.contents

  = render partial: 'shared/header'


  .search-container.clearfix
    .search-left
      .sort-box
        %select
          %option(value="並べ替え") 並べ替え
      .search-box
        %p.text-detail-search 詳細検索
        .form-group
          %label.form-group__labels(for="") 
            = fa_icon 'plus'
            キーワードを追加する
          %input.form-group__text-field(type="text")/
        .form-group
          %label.form-group__labels(for="") 
            = fa_icon 'bars'
            カテゴリーを選択する
          %input.form-group__text-field(type="text")/
        .form-group
          %label.form-group__labels(for="") 
            = fa_icon 'tag'
            ブランド名から探す
          %input.form-group__text-field(type="text")/
        .form-group
          %label.form-group__labels(for="") 
            = fa_icon 'compress'
            サイズを指定する
          %input.form-group__text-field(type="text")/
        .form-group
          %label.form-group__labels(for="") 
            = fa_icon 'yen'
            価格
          %input.form-group__text-field(type="text")/
          %input.form-group__text-field-left(type="text")/
          %span.tilde ~
          %input.form-group__text-field-right(type="text")/
        .form-group
          %label.form-group__labels(for="") 
            = fa_icon 'star'
            商品の状態
          %input.form-group__text-field(type="text")/
        .form-group
          %label.form-group__labels(for="") 
            = fa_icon 'truck'
            配送料の負担
          %input.form-group__text-field(type="text")/
        .form-group
          %label.form-group__labels(for="") 
            = fa_icon 'shopping-cart'
            販売状況
          %input.form-group__text-field(type="text")/
        .btns
          = link_to 'クリア', '/', class: 'btns__clear-btn'
          = link_to '完了', '/', class: 'btns__submit-btn'

    .search-right
      %section.items-box-container.clearfix

        -if @search.present?
          %h2.search-result-head
            =@search
            %span.search-result-head-text
              の検索結果

          .search-result-number
            ="1-#{@items.count}件表示"

        -else

          %h2.search-result-nil
            新着商品

        .items-box-content.clearfix
          %ul.clearfix
            = render 'items/items'


= render partial: 'shared/footer'
