.contents
  = render partial: 'shared/header'

  .search-container.clearfix
    .search-left
      .sort-box
        %select
          %option(value="並べ替え") 並べ替え
          %option(value="価格の安い順") 価格の安い順
          %option(value="価格の高い順") 価格の高い順
          %option(value="出品の古い順") 出品の古い順
          %option(value="出品の新しい順") 出品の新しい順
          %option(value="いいね!の多い順") いいね!の多い順
        .chevron-down
      .search-box
        = search_form_for(@q, url: search_path) do |f|
          %p.text-detail-search 詳細検索

          .form-group
            = f.label :name, {class: "form-group__labels", for: :input_keyword} do
              = fa_icon 'plus'
              = 'キーワードを追加する'
            = f.search_field :name_cont, class: "form-group__text-field", id: 'input_keyword', placeholder: '例）値下げ'

          .form-group#category_search
            = f.label :parent_category, {class: "form-group__labels", for: :parent_category_search} do
              = fa_icon 'bars'
              カテゴリーを選択する
            .select#parent_wrapper
              = f.select :parent_category_eq, @category_parent_array, {}, {id: 'parent_category_search', class: 'form-group__text-field'}
              .chevron-down
            - if @q.child_category_eq
              .select#children_wrapper{style: "margin-top: -10px"}
                = f.select :child_category_eq, options_for_select(@category_child_array.map{|c|[c[:name], c[:name], {'data-category' => c[:id]}]}, @q.child_category_eq), {}, {id: 'child_category', class: 'form-group__text-field'}
                .chevron-down{style: "top: 105px"}
            - if @q.grandchild_category_eq
              .select#grandchildren_wrapper{style: "margin-top: -10px"}
                = f.select :grandchild_category_eq, options_for_select(@category_grandchild_array.map{|c|[c[:name], c[:name], {'data-category' => c[:id]}]}, @q.grandchild_category_eq), {}, {id: 'grandchild_category', class: 'form-group__text-field'}
                .chevron-down{style: "top: 163px"}

          -# .form-group
          -#   = f.label :name, {class: "form-group__labels", for: :input_bland} do
          -#     = fa_icon 'tag'
          -#     ブランド名から探す
          -#   = f.text_field :name, class: "form-group__text-field", id: 'input_bland', placeholder: '例）シャネル'

          -# .form-group
          -#   = f.label :name, {class: "form-group__labels", for: :size_select} do
          -#     = fa_icon 'compress'
          -#     サイズを指定する
          -#   = f.select :size, @size_array, {}, {id: 'size_select', class: 'form-group__text-field'}
          -#   .chevron-down

          .form-group
            = f.label :parent_category, {class: "form-group__labels", for: :price_select} do
              = fa_icon 'yen'
              価格
            = f.select :price, @price_array, {}, {id: 'price_select', class: 'form-group__text-field'}
            .chevron-down
            = f.number_field :price_gteq, class: 'form-group__text-field-left', placeholder: '¥ Min'
            %span.tilde ~
            = f.number_field :price_lteq, class: 'form-group__text-field-right', placeholder: '¥ Max'

          .form-group#status_search
            = f.label :status, {class: "form-group__labels"} do
              = fa_icon 'star'
              商品の状態
            .form-group__check-boxes
              .form-group__check-boxes__box
                = f.check_box :status_in, {multiple: true}, 'すべて', nil
                = f.label :status_in, {for: 'q_status_in_すべて'} do
                  = 'すべて'
              .form-group__check-boxes__box
                = f.check_box :status_in, {multiple: true}, '新品、未使用', nil
                = f.label :status_in, {for: 'q_status_in_新品未使用'} do
                  = '新品・未使用'
              .form-group__check-boxes__box
                = f.check_box :status_in, {multiple: true}, '未使用に近い', nil
                = f.label :status_in, {for: 'q_status_in_未使用に近い'} do
                  = '未使用に近い'
              .form-group__check-boxes__box
                = f.check_box :status_in, {multiple: true}, '目立った傷や汚れなし', nil
                = f.label :status_in, {for: 'q_status_in_目立った傷や汚れなし'} do
                  = '目立った傷や汚れなし'
              .form-group__check-boxes__box
                = f.check_box :status_in, {multiple: true}, 'やや傷や汚れあり', nil
                = f.label :status_in, {for: 'q_status_in_やや傷や汚れあり'} do
                  = 'やや傷や汚れあり'
              .form-group__check-boxes__box
                = f.check_box :status_in, {multiple: true}, '傷や汚れあり', nil
                = f.label :status_in, {for: 'q_status_in_傷や汚れあり'} do
                  = '傷や汚れあり'
              .form-group__check-boxes__box
                = f.check_box :status_in, {multiple: true}, '全体的に状態が悪い', nil
                = f.label :status_in, {for: 'q_status_in_全体的に状態が悪い'} do
                  = '全体的に状態が悪い'

          .form-group#charge_search
            = f.label :charge, {class: "form-group__labels"} do
              = fa_icon 'truck'
              配送料の負担
            .form-group__check-boxes
              .form-group__check-boxes__box
                = f.check_box :charge_in, {multiple: true}, 'すべて', nil
                = f.label :charge_in, {for: 'q_charge_in_すべて'} do
                  = 'すべて'
              .form-group__check-boxes__box
                = f.check_box :charge_in, {multiple: true}, '着払い(購入者負担)', nil
                = f.label :charge_in, {for: 'q_charge_in_着払い購入者負担'} do
                  = '着払い(購入者負担)'
              .form-group__check-boxes__box
                = f.check_box :charge_in, {multiple: true}, '送料込み(出品者負担)', nil
                = f.label :charge_in, {for: 'q_charge_in_送料込み出品者負担'} do
                  = '送料込み(出品者負担)'

          -# .form-group{style: 'min-height: 120px'}
          -#   = f.label :sale_status, {class: "form-group__labels"} do
          -#     = fa_icon 'shopping-cart'
          -#     配送料の負担
          -#   .form-group__check-boxes
          -#     .form-group__check-boxes__box
          -#       = f.check_box :sale_status_in, {multiple: true}, 'すべて', nil
          -#       = f.label :sale_status_in, {for: 'q_sale_status_in_すべて'} do
          -#         = 'すべて'
          -#     .form-group__check-boxes__box
          -#       = f.check_box :sale_status_in, {multiple: true}, '販売中', nil
          -#       = f.label :sale_status_in, {for: 'q_sale_status_in_販売中'} do
          -#         = '販売中'
          -#     .form-group__check-boxes__box
          -#       = f.check_box :sale_status_in, {multiple: true}, '売り切れ', nil
          -#       = f.label :sale_status_in, {for: 'q_sale_status_in_売り切れ'} do
          -#         = '売り切れ'

          .btns
            = f.submit 'クリア', type: :reset, class: 'btns__clear-btn'
            = f.submit '完了', class: 'btns__submit-btn'

    .search-right
      %section.items-box-container.clearfix

        - if @items.count > 0 && @keyword != ""
          %h2.search-result-head
            = @keyword
            %span.search-result-head-text
              の検索結果

          .search-result-number
            = "1-#{@items.count}件表示"

          .items-box-content.clearfix
            %ul.clearfix
              = render 'items'

        - elsif @items.count > 0 && @keyword == ""
          %h2.search-result-head
            %span.search-result-head-text
              %p
                検索結果

          .search-result-number
            = "1-#{@items.count}件表示"

          .items-box-content.clearfix
            %ul.clearfix
              = render 'items'

        - elsif @items.count == 0
          %h2.search-result-head
            = @keyword
            %span.search-result-head-text
              の検索結果
          %p
            該当する商品が見つかりません。検索条件を変えて、再度お試しください。
          %br/
          %br/

          %h2.search-result-nil
            %p
              新着商品

          .items-box-content.clearfix
            %ul.clearfix
              = render 'new_items'

        - else
          %h2.search-result-nil
            %p
              新着商品

          .items-box-content.clearfix
            %ul.clearfix
              = render 'new_items'

= render partial: 'shared/footer'
