.message-content
  %ul.message-content__all
    - if @comments
      - @comments.each do |comment|
        %li.message-content__all__self
          .message-content__all__self__left
            .message-content__all__self__left__nickname
              = comment.user.nickname
            .message-content__all__self__left__comment
              = fa_icon 'comment', class: 'balloon'
              = simple_format(comment.text)
              .message-content__all__self__left__comment__icon
                = fa_icon 'edit', class: 'message-content__all__self__left__comment__icon__left'
                .create_date
                  = comment.created_at.strftime("%F")
              - if user_signed_in? && comment.user.id == current_user.id
                = link_to "/items/#{comment.item.id}/comments/#{comment.id}", {method: :delete, class: "message-content__all__self__left__comment__icon__right"} do
                  = fa_icon 'trash'
          .message-content__all__self__right
            = image_tag 'http://static.mercdn.net/images/member_photo_noimage_thumb.png', size: '40x40', size: '40x40', class: 'message-content__all__self__right__user-icon'
            - if comment.user.id == comment.item.user.id
              .message-content__all__self__right__seller
                出品者