%header.header
  .searches_regist
    .searches_regist__top
      .searches_regist__top__image
        = image_tag "mercari_logo_horizontal.png", size: "134x40", alt: "Mercari"
      .searches_regist__top__search
        = form_tag searches_path, method: :get do
          = text_field_tag :search, "",placeholder:"何かお探しですか？", class: 'searches_regist__top__search__text'
          = button_tag type: 'submit', :name => nil, class: 'searches_regist__top__search__btn' do
            = fa_icon 'search'
            
       
    .searches_regist__bottom
      .searches_regist__bottom__left
        .searches_regist__bottom__left__category-search
          = fa_icon 'list-ul', class: "list-ul-icon"
          カテゴリーから探す
        .searches_regist__bottom__left__bland-search
          = fa_icon 'tag', class: "tag-icon"
          ブランドから探す
      .searches_regist__bottom__right
        - if user_signed_in?
          %ul
            %li.like
              = fa_icon 'heart'
              いいね！一覧
            %li
              = fa_icon 'bell'
              お知らせ
            %li
              = fa_icon 'check'
              やることリスト
            %li.last
              = link_to mypage_path do
                .menu-link
                  %figure
                    = image_tag 'https://cdn.pixabay.com/photo/2016/07/23/13/21/pokemon-1536855_1280.png', height: '32', width: '32'
                  %span
                    マイページ
        - else
          = link_to '新規会員登録', new_user_registration_path, class: 'searches_regist__bottom__right__sign-in'
          = link_to 'ログイン', new_user_session_path, class: 'searches_regist__bottom__right__log-in'

.advertisement
  = image_tag 'main-visual.png', class: 'main-visual'

.popular_category
  %h1.popular_category__title
    人気のカテゴリー
  %ul.popular_category__sorts
    %li.popular_category__sorts__sort レディース
    %li.popular_category__sorts__sort メンズ
    %li.popular_category__sorts__sort 家電・スマホ・カメラ
    %li.popular_category__sorts__sort おもちゃ・ホビー・グッズ

.items
  .items__item
    .items__item__group
      .items__item__group__top
        %h2.items__item__group__top__title
          レディース新着アイテム
        .items__item__group__top__logo
          もっと見る ＞
      %ul.items__item__group__catalog
        = render 'ladies_items'

    .items__item__group
      .items__item__group__top
        %h2.items__item__group__top__title
          メンズ新着アイテム
        .items__item__group__top__logo
          もっと見る ＞
      %ul.items__item__group__catalog
        = render 'mens_items'

    .items__item__group
      .items__item__group__top
        %h2.items__item__group__top__title
          家電・スマホ・カメラ新着アイテム
        .items__item__group__top__logo
          もっと見る ＞
      %ul.items__item__group__catalog
        = render 'devise_items'

    .items__item__group
      .items__item__group__top
        %h2.items__item__group__top__title
          おもちゃ・ホビー・グッズ新着アイテム
        .items__item__group__top__logo
          もっと見る ＞
      %ul.items__item__group__catalog
        = render 'toy_items'

.popular_bland
  %h.popular_bland__title
    人気のブランド
  %ul.popular_bland__sorts
    %li.popular_bland__sorts__sort シャネル
    %li.popular_bland__sorts__sort ルイヴィトン
    %li.popular_bland__sorts__sort シュプリーム
    %li.popular_bland__sorts__sort ナイキ

.items
  .items__item
    .items__item__group
      .items__item__group__top
        %h2.items__item__group__top__title
          シャネル新着アイテム
        .items__item__group__top__logo
          もっと見る ＞
      %ul.items__item__group__catalog
        = render 'items'

    .items__item__group
      .items__item__group__top
        %h2.items__item__group__top__title
          ルイヴィトン新着アイテム
        .items__item__group__top__logo
          もっと見る ＞
      %ul.items__item__group__catalog
        = render 'items'

    .items__item__group
      .items__item__group__top
        %h2.items__item__group__top__title
          シュプリーム新着アイテム
        .items__item__group__top__logo
          もっと見る ＞
      %ul.items__item__group__catalog
        = render 'items'

    .items__item__group
      .items__item__group__top
        %h2.items__item__group__top__title
          ナイキ新着アイテム
        .items__item__group__top__logo
          もっと見る ＞
      %ul.items__item__group__catalog
        = render 'items'

= render partial: 'shared/footer'