
= render partial: 'shared/header'

.advertisement
  = image_tag 'main-visual.png', class: 'main-visual'

.popular_category
  %h1.popular_category__title
    人気のカテゴリー
  %ul.popular_category__sorts
    %li.popular_category__sorts__sort レディース
    %li.popular_category__sorts__sort メンズ
    %li.popular_category__sorts__sort 家電・スマホ・カメラ
    %li.popular_category__sorts__sort おもちゃ・ホビー・グッズ

.items
  .items__item
    .items__item__group
      .items__item__group__top
        %h2.items__item__group__top__title
          レディース新着アイテム
        .items__item__group__top__logo
          もっと見る ＞
      %ul.items__item__group__catalog
        = render 'ladies_items'

    .items__item__group
      .items__item__group__top
        %h2.items__item__group__top__title
          メンズ新着アイテム
        .items__item__group__top__logo
          もっと見る ＞
      %ul.items__item__group__catalog
        = render 'mens_items'

    .items__item__group
      .items__item__group__top
        %h2.items__item__group__top__title
          家電・スマホ・カメラ新着アイテム
        .items__item__group__top__logo
          もっと見る ＞
      %ul.items__item__group__catalog
        = render 'devise_items'

    .items__item__group
      .items__item__group__top
        %h2.items__item__group__top__title
          おもちゃ・ホビー・グッズ新着アイテム
        .items__item__group__top__logo
          もっと見る ＞
      %ul.items__item__group__catalog
        = render 'toy_items'

.popular_bland
  %h.popular_bland__title
    人気のブランド
  %ul.popular_bland__sorts
    %li.popular_bland__sorts__sort シャネル
    %li.popular_bland__sorts__sort ルイヴィトン
    %li.popular_bland__sorts__sort シュプリーム
    %li.popular_bland__sorts__sort ナイキ

.items
  .items__item
    .items__item__group
      .items__item__group__top
        %h2.items__item__group__top__title
          シャネル新着アイテム
        .items__item__group__top__logo
          もっと見る ＞
      %ul.items__item__group__catalog
        = render 'items'

    .items__item__group
      .items__item__group__top
        %h2.items__item__group__top__title
          ルイヴィトン新着アイテム
        .items__item__group__top__logo
          もっと見る ＞
      %ul.items__item__group__catalog
        = render 'items'

    .items__item__group
      .items__item__group__top
        %h2.items__item__group__top__title
          シュプリーム新着アイテム
        .items__item__group__top__logo
          もっと見る ＞
      %ul.items__item__group__catalog
        = render 'items'

    .items__item__group
      .items__item__group__top
        %h2.items__item__group__top__title
          ナイキ新着アイテム
        .items__item__group__top__logo
          もっと見る ＞
      %ul.items__item__group__catalog
        = render 'items'

= render partial: 'shared/footer'