
.single-contents
  
  .single-header
    %h1
      .top-link
        = link_to '/' do
          = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2177740229', height: '49', width: '185'

  = form_for @item do |f|

    .single-main

      %section.buy-item-contents


        %h2.sell-item-head
          商品の情報を入力

        .sell-form
          
          .sell-upload-box
            %h3.sell-upload-head
              出品画像
              %span.form-require
                必須
            %p
              最大10枚までアップロードできます
            .sell-dropbox.clearfix

              .image-contents.clearfix
                .image-content
                  %ul.image-ul
              
              #image-drop-zone
                %label.sell-upload-drop-box
                  = f.file_field :images, multiple: true, class: 'sell-upload-drop-file', id: 'post_img_0', name: "item[images][]"
                  %pre.visible-pc
                    ドラッグアンドドロップ
                    またはクリックしてファイルをアップロード
          .sell-content
            .form-group
              %label(for="")
                商品名
                %span.form-require
                  必須
              .input
                = f.text_field :name, placeholder: "商品名（必須 40文字まで)", class: "item-name", required: 'required', maxlength: '40'
            .form-group
              %label(for="")
                商品の説明
                %span.form-require
                  必須
              .text-area
                = f.text_area :description, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: 5, class: "item-des", required: 'required', maxlength: '1000', style: 'resize: vertical; min-height: 100px'

        .sell-form
        
          .sell-content.clearfix
            %h3.sell-sub-head
              商品の詳細
            .sell-form-box
              #category.form-group
                %label(for="")
                  カテゴリー
                  %span.form-require
                    必須
                .select
                  = f.select :parent_category, @category_parent_array, {prompt: "---"}, {id: 'parent_category', required: 'required'}
                  .chevron-down

              .form-group
                %label(for="")
                  商品の状態
                  %span.form-require
                    必須
                .select
                  = f.select :status, [["新品、未使用", "新品、未使用"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["やや傷や汚れあり", "やや傷や汚れあり"], ["傷や汚れあり", "傷や汚れあり"], ["全体的に状態が悪い", "全体的に状態が悪い"]], {prompt: "---"}, required: 'required'
                  .chevron-down

        .sell-form
                
          .sell-content.clearfix
            %h3.sell-sub-head
              配送について
            .form-question
              ?
            .sell-form-box
              .form-group
                %label(for="")
                  配送料の負担
                  %span.form-require
                    必須
                .select
                  = f.select :charge, [["送料込み(出品者負担)", "送料込み(出品者負担)"], ["着払い(購入者負担)", "着払い(購入者負担)"]], {prompt: "---"}, required: 'required'
                  .chevron-down

              .form-group
                %label(for="")
                  配送の方法
                  %span.form-require
                    必須
                .select
                  = f.select :delivery_method, [["未定", "未定"], ["らくらくメルカリ便", "らくらくメルカリ便"], ["ゆうメール", "ゆうメール"], ["レターパック", "レターパック"], ["普通郵便(定形、定形外)", "普通郵便(定形、定形外)"], ["クロネコヤマト", "クロネコヤマト"], ["ゆうパック", "ゆうパック"], ["クリックポスト", "クリックポスト"], ["ゆうパケット", "ゆうパケット"]], {prompt: "---"}, required: 'required'
                  .chevron-down


              .form-group
                %label(for="")
                  発送元の地域
                  %span.form-require
                    必須
                .select
                  = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "---"}, required: 'required'
                  .chevron-down
                

              .form-group
                %label(for="")
                  発送までの日数
                  %span.form-require
                    必須
                .select
                  = f.select :send_date, [["1~2日で発送", "1~2日で発送"], ["2~3日で発送", "2~3日で発送"], ["4~7日で発送", "4~7日で発送"]], {prompt: "---"}, required: 'required'
                  .chevron-down

        .sell-form
                
          .sell-content.clearfix
            %h3.sell-sub-head
              販売価格(300〜9,999,999)
            .form-question
              ?
            .sell-form-box
              %ul.sell-price
                %li.form-group
                  .clearfix
                    %label.left
                      価格
                      %span
                        必須
                    .right
                      ¥
                      .input_1
                        = f.text_field :price, placeholder: "例）300", type: 'tel', autocomplete: 'off', required: 'required', pattern: '[3-9][0-9]{2}|[1-9][0-9]{3,6}'

                %li.clearfix
                  .left
                    販売手数料 (10%)
                  #fee.right
                    ー

                %li.profit.clearfix
                  .left
                    販売利益
                  #profit.right
                    ー

        .sell-form

          .sell-content.btn-box
            %p
              %span
                禁止されている出品
              、
              %span
                行為
              を必ずご確認ください。
            %p
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              %span
                偽ブランドの販売
              は犯罪であり処罰される可能性があります。
            %p
              また、出品をもちまして
              %span
                加盟店規約
              に同意したことになります。

            = f.submit :'出品する', class: "btn-red"
            
            .a
              もどる

  .single-footer
    %nav
      %ul.clearfix
        %li
          .a
            プライバシーポリシー
        %li
          .a
            メルカリ利用規約
        %li
          .a 
            特定商取引に関する表記
    .single-footer-logo
      = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2177740229', height: '65', width: '80'
    %p
      %small
        © 2019 Mercari




