.contents

  = render partial: 'shared/header'
  
  .item-show-box

    %h1.item-show-name
      = @item.name

    .item-show-main.clearfix
      .item-show-photo
        .carousel
          .stage-outer
            .stage{ style: 'left: 0px;' 'width: 300px;' }
              .stage__item.active{ style: 'width: 300px;' }
                #main-image.stage__item__upper
                  - if @item.images.attached?
                    - @item.images.last(1).each do |image|
                      = image_tag image, id: 'image-upper'
                  - else
                    = image_tag 'https://www.nanohana-ph.jp/images/shop/noimage.png', alt: 'メンズ ニット グレー'
                .stage__item__inner
                  .stage__item__inner__group
                    - if @item.images.attached?
                      - @item.images.each_with_index.reverse_each do |image, index|
                        = image_tag image, class: "image-select", id: "image-#{index}"
                    - else
                      = image_tag 'https://www.nanohana-ph.jp/images/shop/noimage.png', alt: 'メンズ ニット グレー', class: 'carousel-image', style: 'opacity: 1;'


      %table.item-detail-table
        %tbody
          %tr
            %th
              出品者
            %td
              %p.link
                = @item.user.nickname
              .face-icon
                .rating-icon
                  = fa_icon 'laugh', class: 'good'
                  %span
                    38
                .rating-icon
                  = fa_icon 'laugh', class: ''
                  %span
                    6
                .rating-icon
                  = fa_icon 'laugh', class: ''
                  %span
                    1
          %tr
            %th
              カテゴリー
            %td
              .major.link
                = @item.parent_category
              .mid.link
                = fa_icon 'chevron-right'
                = @item.child_category
              .small.link
                = fa_icon 'chevron-right'
                = @item.grandchild_category
          %tr
            %th
              ブランド
            %td
          -if !@item.size.nil?
            %tr
              %th
                商品のサイズ
              %td
                = @item.size
          -else
            %tr
              %th
                商品のサイズ
              %td
                = '--'
          %tr
            %th
              商品の状態
            %td
              = @item.status
          %tr
            %th
              配送料の負担
            %td
              = @item.charge
          %tr
            %th
              配送の方法
            %td
              = @item.delivery_method
          %tr
            %th
              配送元地域
            %td
              .link
                = @item.prefecture.name
          %tr
            %th
              発送日の目安
            %td
              = @item.send_date

    .item-price-box
      %span.item-price
        = converting_to_jpy(@item.price)
      %span.item-tax
        (税込)
      %span.item-shipping-fee
        送料込み

    = link_to '購入画面に進む', purchase_items_path(@item), class: 'item-buy-btn'

    .item-description
      %p.item-description__inner
        = @item.description

    .item-buttons.clearfix
      .item-button-left
        %button
          = fa_icon 'heart'
          %span
            いいね!
          %span
            2
        .report.clearfix
          = fa_icon 'flag'
          %span
            不適切な商品の報告
          
      .item-button-right
        .safe-link
          = fa_icon 'lock'
          %span
            あんしん・あんぜんへの取り組み

  - if user_signed_in? && @item.user.id == current_user.id
    .item-edit-block
      .edit__btns
        .edit__btns__btn
          = link_to '商品の編集', edit_item_path(@item), class: 'edit__btns__btn--edit'
        %span
          or
        .edit__btns__btn
          = link_to '出品を一旦停止する', '/', class: 'edit__btns__btn--stop'
        .edit__btns__btn#modal-open-btn
          %button.edit__btns__btn--delete#item-delete-btn この商品を削除する
        #overlay
          #modalWindow
            .modal-message-box
              .modal-message-box__c 
                確認
              .modal-message-box__r 
                削除すると二度と復活できません。
                %br/
                削除する代わりに停止することもできます。
                %br 
                %br/
                本当に削除しますか？
            %p#modal-close-btn キャンセル
            = link_to '削除する', item_path(@item), method: :delete, id: 'delete-comformation-btn'

  .item-detail-message
    .message-container
      .message-content
        .message-form
          %p
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          .textarea
          %button.message-submit
            %span
              コメントする

  .social-media-box
    %ul.medias
      %li
        .share-btn.fb
          = fa_icon 'facebook-square'
      %li
        .share-btn.tw
          = fa_icon 'twitter'
      %li
        .share-btn.pi
          = fa_icon 'pinterest'

  .items-in-user-profile
    %section.items-in-user-profile
      %h2.items-box-head
        %p.link
          出品者名さんのその他の出品
      .items-box-content.clearfix

        %section.items-box
          .link
            %figure.items-box-photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m36212156624_1.jpg?1572504945'
            .items-box-body
              %h3.items-box-name
                ゴールドブレンド コク深め
              .items-box-num
                .items-box-price
                  ¥1,700
                .box-icon
                  = fa_icon 'heart'
                  %span
                    8
        
        %section.items-box
          .link
            %figure.items-box-photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m24093039934_1.jpg?1573262934'
            .items-box-body
              %h3.items-box-name
                コットン 黒シャツ
              .items-box-num
                .items-box-price
                  ¥2,200
                .box-icon
                  = fa_icon 'heart'
                  %span
                    2

        %section.items-box
          .link
            %figure.items-box-photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m68021190973_1.jpg?1572585469'
            .items-box-body
              %h3.items-box-name
                加圧シャツ インナー タンクトップ 黒
              .items-box-num
                .items-box-price
                  ¥4,880
                .box-icon
                  = fa_icon 'heart'
                  %span
                    0

        %section.items-box
          .link
            %figure.items-box-photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m49951246692_1.jpg?1572585380'
            .items-box-body
              %h3.items-box-name
                加圧シャツ インナー タンクトップ 白
              .items-box-num
                .items-box-price
                  ¥4,880
                .box-icon
                  = fa_icon 'heart'
                  %span
                    0

        %section.items-box
          .link
            %figure.items-box-photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m60721341453_1.jpg?1572506369'
            .items-box-body
              %h3.items-box-name
                ネスカフェ ゴールド
              .items-box-num
                .items-box-price
                  ¥1,700
                .box-icon
                  = fa_icon 'heart'
                  %span
                    4

        %section.items-box
          .link
            %figure.items-box-photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m56795772690_1.jpg?1572504397'
            .items-box-body
              %h3.items-box-name
                ネスカフェ ゴールドブレンド
              .items-box-num
                .items-box-price
                  ¥1,800
                .box-icon
                  = fa_icon 'heart'
                  %span
                    6


  .items-in-user-profile
    %section.items-in-user-profile
      %h2.items-box-head
        %p.link
          カテゴリー名 その他の商品
      .items-box-content.clearfix

        %section.items-box
          .link
            %figure.items-box-photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m78568103826_1.jpg?1573357947'
            .items-box-body
              %h3.items-box-name
                ニットセーター
              .items-box-num
                .items-box-price
                  ¥2,700
                .box-icon
                  = fa_icon 'heart'
                  %span
                    8
        
        %section.items-box
          .link
            %figure.items-box-photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m34573881650_1.jpg?1574394939'
            .items-box-body
              %h3.items-box-name
                総柄デザインニット
              .items-box-num
                .items-box-price
                  ¥7,800
                .box-icon
                  = fa_icon 'heart'
                  %span
                    2

        %section.items-box
          .link
            %figure.items-box-photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m74439506321_1.jpg?1574396137'
            .items-box-body
              %h3.items-box-name
                ユニクロ 白 ニット
              .items-box-num
                .items-box-price
                  ¥1,200
                .box-icon
                  = fa_icon 'heart'
                  %span
                    0

        %section.items-box
          .link
            %figure.items-box-photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m99844236042_1.jpg?1573119705'
            .items-box-body
              %h3.items-box-name
                coogi classic
              .items-box-num
                .items-box-price
                  ¥8,000
                .box-icon
                  = fa_icon 'heart'
                  %span
                    0

        %section.items-box
          .link
            %figure.items-box-photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m19609921616_1.jpg?1574396129'
            .items-box-body
              %h3.items-box-name
                メンズ ニット セーター 茶
              .items-box-num
                .items-box-price
                  ¥2,399
                .box-icon
                  = fa_icon 'heart'
                  %span
                    4

        %section.items-box
          .link
            %figure.items-box-photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m53190385164_1.jpg?1574078574'
            .items-box-body
              %h3.items-box-name
                neos ベスト
              .items-box-num
                .items-box-price
                  ¥4,700
                .box-icon
                  = fa_icon 'heart'
                  %span
                    6
    

  .nav
    %ul
      %li
        メルカリ 
        = fa_icon 'chevron-right'
      %li.bold
        メンズ ニット グレー

  
  = render partial: 'shared/footer'