.contents

  = render partial: 'shared/header'
  
  .item-show-box

    %h1.item-show-name
      = @item.name

    .item-show-main.clearfix
      .item-show-photo
        .carousel
          .stage-outer
            .stage{ style: 'left: 0px;' 'width: 300px;' }
              .stage__item.active{ style: 'width: 300px;' }
                #main-image.stage__item__upper
                  - if @item.images.attached?
                    - @item.images.first(1).each do |image|
                      = image_tag image, id: 'image-upper'
                  - else
                    = image_tag 'https://www.nanohana-ph.jp/images/shop/noimage.png', alt: 'メンズ ニット グレー'
                .stage__item__inner
                  .stage__item__inner__group
                    - if @item.images.attached?
                      - @item.images.each_with_index do |image, index|
                        = image_tag image, class: "image-select", id: "image-#{index}"
                    - else
                      = image_tag 'https://www.nanohana-ph.jp/images/shop/noimage.png', alt: 'メンズ ニット グレー', class: 'carousel-image', style: 'opacity: 1;'


      %table.item-detail-table
        %tbody
          %tr
            %th
              出品者
            %td
              %p.link
                = @item.user.nickname
              .face-icon
                .rating-icon
                  = image_tag 'icon_good3.png', size: '15x15'
                  %span
                    38
                .rating-icon
                  = image_tag 'icon_soso.png', size: '15x15'
                  %span
                    6
                .rating-icon
                  = image_tag 'icon_bad.png', size: '15x15'
                  %span
                    1
          %tr
            %th
              カテゴリー
            %td
              .major.link
                = @item.parent_category
              .mid.link
                = fa_icon 'chevron-right'
                = @item.child_category
              .small.link
                = fa_icon 'chevron-right'
                = @item.grandchild_category
          %tr
            %th
              ブランド
            %td
          -if !@item.size.nil?
            %tr
              %th
                商品のサイズ
              %td
                = @item.size
          -else
            %tr
              %th
                商品のサイズ
              %td
                = '--'
          %tr
            %th
              商品の状態
            %td
              = @item.status
          %tr
            %th
              配送料の負担
            %td
              = @item.charge
          %tr
            %th
              配送の方法
            %td
              = @item.delivery_method
          %tr
            %th
              配送元地域
            %td
              .link
                = @item.prefecture.name
          %tr
            %th
              発送日の目安
            %td
              = @item.send_date

    .item-price-box
      %span.item-price
        = converting_to_jpy(@item.price)
      %span.item-tax
        (税込)
      %span.item-shipping-fee
        送料込み

    = link_to '購入画面に進む', purchase_items_path(@item), class: 'item-buy-btn'

    .item-description
      %p.item-description__inner
        = @item.description

    .item-buttons.clearfix
      .item-button-left
        %button
          = fa_icon 'heart'
          %span
            いいね!
          %span
            2
        .report.clearfix
          = fa_icon 'flag'
          %span
            不適切な商品の報告
          
      .item-button-right
        .safe-link
          = fa_icon 'lock'
          %span
            あんしん・あんぜんへの取り組み

  - if user_signed_in? && @item.user.id == current_user.id
    .item-edit-block
      .edit__btns
        .edit__btns__btn
          = link_to '商品の編集', edit_item_path(@item), class: 'edit__btns__btn--edit'
        %span
          or
        .edit__btns__btn
          = link_to '出品を一旦停止する', '/', class: 'edit__btns__btn--stop'
        .edit__btns__btn#modal-open-btn
          %button.edit__btns__btn--delete#item-delete-btn この商品を削除する
        #overlay
          #modalWindow
            .modal-message-box
              .modal-message-box__c 
                確認
              .modal-message-box__r 
                削除すると二度と復活できません。
                %br/
                削除する代わりに停止することもできます。
                %br 
                %br/
                本当に削除しますか？
            %p#modal-close-btn キャンセル
            = link_to '削除する', item_path(@item), method: :delete, id: 'delete-comformation-btn'

  - if user_signed_in?
    .item-detail-message
      .message-container
        = render partial: 'comment'
        .message-content
          = form_with(model: [@item, @comment], local: true, class: 'message-form', id: 'new-comment') do |form|
            %p.alert_message
              相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = form.text_area :text, class: 'textarea'
            %label
              = form.submit 'コメントする', class: 'message-submit', id: 'comment-submit'

  .social-media-box
    %ul.medias
      %li
        .share-btn.fb
          = fa_icon 'facebook-square'
      %li
        .share-btn.tw
          = fa_icon 'twitter'
      %li
        .share-btn.pi
          = fa_icon 'pinterest'

  .items-in-user-profile
    %section.items-in-user-profile
      %h2.items-box-head
        %p.link
          = @item.user.nickname + "さんのその他の出品"
      .items-box-content.clearfix
        - @user_items.each do |item|
          %section.items-box
            = link_to item do
              .link
                %figure.items-box-photo
                  - item.images.first(1).each do |image|
                    = image_tag image
                .items-box-body
                  %h3.items-box-name
                    = item.name
                  .items-box-num
                    .items-box-price
                      = converting_to_jpy(item.price)
                    .box-icon
                      = fa_icon 'heart'
                      %span
                        = rand(1..50)

  .items-in-user-profile
    %section.items-in-user-profile
      %h2.items-box-head
        %p.link
          = @item.parent_category + " その他の商品"
      .items-box-content.clearfix
        - @category_items.each do |item|
          %section.items-box
            = link_to item do
              .link
                %figure.items-box-photo
                  - item.images.first(1).each do |image|
                    = image_tag image
                .items-box-body
                  %h3.items-box-name
                    = item.name
                  .items-box-num
                    .items-box-price
                      = converting_to_jpy(item.price)
                    .box-icon
                      = fa_icon 'heart'
                      %span
                        = rand(1..50)

  .footer-breadcrumbs
    %ul
      %li
        = link_to 'メルカリ', root_path
        = fa_icon 'chevron-right'
      %li
        %p
          = @item.name
  
  = render partial: 'shared/footer'