
.contents

  = render partial: 'shared/header'
  .nav
    %ul
      %li
        メルカリ 
        = fa_icon 'chevron-right'
      %li.bold
        マイページ
        = fa_icon 'chevron-right'
      %li.bold
        支払い方法

  .main.clearfix
    
    = render partial: 'mypage/shared/side_column'

    .content
      .userself-confimation
        %h2.userself-confimation__title
          本人情報の登録
        .userself-confimation__detail
          .userself-confimation__detail__explain
            お客様の本人情報をご登録ください。
            %br
            登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          = link_to '/', class: 'userself-confimation__detail__about' do
            = '本人確認書類のアップロードについて'
            = fa_icon 'chevron-right'

          .userself-confimation__detail__form-group
            %label.userself-confimation__detail__form-group__title
              お名前
            %p.userself-confimation__detail__form-group__form
              寺澤
          .userself-confimation__detail__form-group
            %label.userself-confimation__detail__form-group__title
              お名前 カナ
            %p.userself-confimation__detail__form-group__form
              テラサワ
          .userself-confimation__detail__form-group
            %label.userself-confimation__detail__form-group__title
              生年月日
            %p.userself-confimation__detail__form-group__form
              1995/4/22

          .userself-confimation__detail__form-group
            %label.userself-confimation__detail__form-group__title
              郵便番号
            %span.userself-confimation__detail__form-group__form-arbitration
              任意
            %input{type: 'text', placeholder: '例）124-5678', class: 'userself-confimation__detail__form-group__input-default'}
          .userself-confimation__detail__form-group-a
            %label.userself-confimation__detail__form-group-a__title
              都道府県
            %span.userself-confimation__detail__form-group-a__form-arbitration
              任意
            %label.userself-confimation__detail__form-group-a__arrow
              %select{name: 'prefecture', class: 'userself-confimation__detail__form-group-a__arrow__input-default'}
                %option{ value: "0"} --
                %option{ value: "1"} 北海道
                %option{ value: "2"} 青森県
                %option{ value: "3"} 岩手県
                %option{ value: "4"} 宮城県
                %option{ value: "5"} 秋田県
                %option{ value: "6"} 山形県
                %option{ value: "7"} 福島県
                %option{ value: "8"} 茨城県
                %option{ value: "9"} 栃木県
                %option{ value: "10"} 群馬県
                %option{ value: "11"} 埼玉県
                %option{ value: "12"} 千葉県
                %option{ value: "13"} 東京都
                %option{ value: "14"} 神奈川県
                %option{ value: "15"} 新潟県
                %option{ value: "16"} 富山県
                %option{ value: "17"} 石川県
                %option{ value: "18"} 福井県
                %option{ value: "19"} 山梨県
                %option{ value: "20"} 長野県
                %option{ value: "21"} 岐阜県
                %option{ value: "22"} 静岡県
                %option{ value: "23"} 愛知県
                %option{ value: "24"} 三重県
                %option{ value: "25"} 滋賀県
                %option{ value: "26"} 京都府
                %option{ value: "27"} 大阪府
                %option{ value: "28"} 兵庫県
                %option{ value: "29"} 奈良県
                %option{ value: "30"} 和歌山県
                %option{ value: "31"} 鳥取県
                %option{ value: "32"} 島根県
                %option{ value: "33"} 岡山県
                %option{ value: "34"} 広島県
                %option{ value: "35"} 山口県
                %option{ value: "36"} 徳島県
                %option{ value:"37"} 香川県
                %option{ value: "38"} 愛媛県
                %option{ value: "39"} 高知県
                %option{ value: "40"} 福岡県
                %option{ value: "41"} 佐賀県
                %option{ value: "42"} 長崎県
                %option{ value: "43"} 熊本県
                %option{ value: "44"} 大分県
                %option{ value: "45"} 宮崎県
                %option{ value: "46"} 鹿児島県
                %option{ value: "47"} 沖縄県
              = fa_icon 'chevron-down', class: 'userself-confimation__detail__form-group-a__arrow__icon'
          .userself-confimation__detail__form-group
            %label.userself-confimation__detail__form-group__title
              市区町村
            %span.userself-confimation__detail__form-group__form-arbitration
              任意
            %input{type: 'text', placeholder: '例）横浜区', class: 'userself-confimation__detail__form-group__input-default'}
          .userself-confimation__detail__form-group
            %label.userself-confimation__detail__form-group__title
              番地
            %span.userself-confimation__detail__form-group__form-arbitration
              任意
            %input{type: 'text', placeholder: '例）青山1-1-1', class: 'userself-confimation__detail__form-group__input-default'}
          .userself-confimation__detail__form-group
            %label.userself-confimation__detail__form-group__title
              建物名
            %span.userself-confimation__detail__form-group__form-arbitration
              任意
            %input{type: 'text', placeholder: '例）柳ビル', class: 'userself-confimation__detail__form-group__input-default'}
          .userself-confimation__detail__btn-default
            登録する
          .userself-confimation__detail__text-right
            %p
              本人情報の登録について
              = fa_icon 'chevron-right'


  = render partial: 'shared/footer'